@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://db.onlinewebfonts.com/c/65dc1b4fb1cd6bf31e730421533dafc7?family=ITC+Avant+Garde+Gothic+W02+Md);

@layer base {
  html,
  body {
    @apply overflow-x-hidden;
  }
}

/*@font-face {
  font-family: 'ITC Avant Garde Gothic W02 Md';
  src: url('https://db.onlinewebfonts.com/t/65dc1b4fb1cd6bf31e730421533dafc7.eot');
  src: url('https://db.onlinewebfonts.com/t/65dc1b4fb1cd6bf31e730421533dafc7.eot?#iefix') format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/65dc1b4fb1cd6bf31e730421533dafc7.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/65dc1b4fb1cd6bf31e730421533dafc7.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/65dc1b4fb1cd6bf31e730421533dafc7.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/65dc1b4fb1cd6bf31e730421533dafc7.svg#ITC Avant Garde Gothic W02 Md')
      format('svg');
} */

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Bungee+Tint&display=swap');

body {
  font-family: 'Assistant', sans-serif;
  box-sizing: border-box;
}

.selected-swatch {
  border: 3px solid white;
  box-shadow: 0 0 0 1px black;
  transition: all 0.3s ease;
  position: relative;
}

.swiper-button-next {
  margin-right: 10px;
  color: #000 !important;
  fill: black !important;
  stroke: black !important;
  border: 2px solid #0000001a;
  background-color: none;
  padding: 15px;
}
.swiper-button-prev {
  margin-left: 10px;
  color: #000 !important;
  fill: black !important;
  stroke: black !important;
  border: 2px solid #0000001a;
  background-color: none;
  padding: 15px;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
